@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body{
    background-color: rgb(68, 158, 158);
}

.container{
    height: 800px;
    position: relative;
    font-family: 'Potta One', cursive;
}

.box-center{
    width: 50%;
    position: absolute;
    top: 25%;
    left: 30%;
}

#button{
    background-color: rgb(84, 102, 85);
    padding: 5px 70px 5px 70px;
}

@media screen and (max-width: 770px) {
    button,.btn, span {
      padding: 0px;
      margin-left: -10px;
    }
  }

  #warning{
    font-family: 'Yusei Magic', sans-serif;
    border: 2px solid red;
    border-radius: 5px;
  }

.animation-text, p{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.5rem;
}

#text-content span{
    opacity: 0;
    transition: all 0.4s ease;
}

#text-content .fade{
    opacity: 1;
    font-size: 2rem;
}